.container {
  text-align: center;
  margin-top: 2rem;
}

.box {
  text-align: left;
  text-decoration: underline;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
  color: blueviolet;
}
